/*** СПИСОК АНИМЕ/МАНГИ В СТИЛЕ КНОПОК ***/
.b-stats_bar .stat_names {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.b-stats_bar .stat_names .stat_name > a {
  display: flex;
  justify-content: center;
}

.b-stats_bar .stat_names .stat_name,
.b-stats_bar .stat_names .stat_name > a {
  flex-grow: 1;
  line-height: 1.25rem;
}

.b-options-floated.mobile-desktop {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  gap: 5px;
  margin-bottom: 1.5rem;
}

@media (max-width: 450px) {
  .b-options-floated.mobile-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.b-options-floated.mobile-desktop > a {
  margin: 0;
  flex-grow: 1;
  line-height: 1.5rem;
}

.b-stats_bar .stat_names .stat_name .size {
  font-size: 15px;
}

.b-stats_bar .stat_names .stat_name[data-type='completed'] > a,
.b-stats_bar .stat_names .stat_name[data-type='completed'],
.b-options-floated.mobile-desktop > a[data-id='completed'] {
  color: var(--color-main-text) !important;
  background-color: var(--color-completed-background);
  border-color: var(--color-completed-border);
}

.b-stats_bar .stat_names .stat_name[data-type='completed'] a:hover,
.b-options-floated.mobile-desktop > a[data-id='completed']:hover {
  background-color: var(--color-completed-background-hover);
}

.b-stats_bar .stat_names .stat_name[data-type='watching,rewatching'] > a,
.b-stats_bar .stat_names .stat_name[data-type='watching,rewatching'],
.b-options-floated.mobile-desktop > a[data-id='watching'],
.b-options-floated.mobile-desktop > a[data-id='rewatching']{
  color: var(--color-main-text) !important;
  background-color: var(--color-watching-background);
  border-color: var(--color-watching-border);
}

.b-stats_bar .stat_names .stat_name[data-type='watching,rewatching'] > a:hover,
.b-options-floated.mobile-desktop > a[data-id='watching']:hover,
.b-options-floated.mobile-desktop > a[data-id='rewatching']:hover {
  background-color: var(--color-watching-background-hover);
}

.b-stats_bar .stat_names .stat_name[data-type='planned'] > a,
.b-stats_bar .stat_names .stat_name[data-type='planned'],
.b-options-floated.mobile-desktop > a[data-id='planned'] {
  color: var(--color-main-text) !important;
  background-color: var(--color-planned-background);
  border-color: var(--color-planned-border);
}

.b-stats_bar .stat_names .stat_name[data-type='planned'] > a:hover,
.b-options-floated.mobile-desktop > a[data-id='planned']:hover {
  background-color: var(--color-planned-background-hover);
}

.b-stats_bar .stat_names .stat_name[data-type='on_hold'] > a,
.b-stats_bar .stat_names .stat_name[data-type='on_hold'],
.b-options-floated.mobile-desktop > a[data-id='on_hold'] {
  color: var(--color-main-text) !important;
  background-color: var(--color-on_hold-background);
  border-color: var(--color-on_hold-border);
}

.b-stats_bar .stat_names .stat_name[data-type='on_hold'] > a:hover,
.b-options-floated.mobile-desktop > a[data-id='on_hold']:hover {
  background-color: var(--color-on_hold-background-hover);
}

.b-stats_bar .stat_names .stat_name[data-type='dropped'] > a,
.b-stats_bar .stat_names .stat_name[data-type='dropped'],
.b-options-floated.mobile-desktop > a[data-id='dropped'] {
  color: var(--color-main-text) !important;
  background-color: var(--color-dropped-background);
  border-color: var(--color-dropped-border);
}

.b-stats_bar .stat_names .stat_name[data-type='dropped'] > a:hover,
.b-options-floated.mobile-desktop > a[data-id='dropped']:hover {
  background-color: var(--color-dropped-background-hover);
}

.b-options-floated.mobile-desktop > a.selected {
  color: var(--color-main-text) !important;
  background-color: var(--color-selected) !important;
  border-color: var(--color-button-border);
  transition: 0.2s ease-in-out;
}

.b-stats_bar .stat_names .stat_name[data-type='watching,rewatching'],
.b-options-floated.mobile-desktop > a[data-id='watching'],
.b-options-floated.mobile-desktop > a[data-id='rewatching'] {
  order: -4;
}

.b-stats_bar .stat_names .stat_name[data-type='completed'],
.b-options-floated.mobile-desktop > a[data-id='completed'] {
  order: -3;
}

.b-stats_bar .stat_names .stat_name[data-type='planned'],
.b-options-floated.mobile-desktop > a[data-id='planned'] {
  order: -2;
}

.b-stats_bar .stat_names .stat_name[data-type='on_hold'],
.b-options-floated.mobile-desktop > a[data-id='on_hold'] {
  order: -1;
}

.b-stats_bar .stat_names .stat_name[data-type='dropped'],
.b-options-floated.mobile-desktop > a[data-id='dropped'] {
  order: 0;
}

.b-options-floated.mobile-desktop > a.selected {
  order: -5;
}

.b-stats_bar .stat_names .stat_name .size::before {
  padding: 0 3px 0 3px;
}

.b-stats_bar .stat_names .stat_name::before,
.b-options-floated.mobile-desktop > a::before,
.b-options-floated.mobile-desktop > a::after {
  display: none;
}

@media (max-width: 680px) {  
 .b-stats_bar .stat_names {
    flex-direction: column;
  }
}
/*** СПИСОК АНИМЕ/МАНГИ В СТИЛЕ КНОПОК ***/
