/* Yukino Yukinoshita */
[href*="characters/67067-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/1212949.jpg);
}

/* Shizuka Hiratsuka */
[href*="characters/67077-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859074.jpg);
}

/* Iroha Isshiki */
[href*="characters/110743-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/1176116.jpg);
}

/* Kaori Miyazono */
[href*="characters/69411-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/859051.jpg);
}

/* Shouko Nishimiya */
[href*="characters/80243-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.one/system/user_images/original/184680/1216452.jpg);
}

/* Shinobu Oshino */
[href*="characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/859098.jpg);
}

/* Kaguya Shinomiya */
[href*="characters/136359-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1216453.jpg);
}

/* Kyouko Kirigiri */
[href*="characters/63845-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/859061.jpg);
}

/* Beatrice */
[href*="characters/10285-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.one/system/user_images/original/184680/1744337.jpg);
}

/* Arcueid Brunestud */
[href*="characters/2213-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/859063.jpg);
}

/* Rin Toosaka */
[href*="characters/498-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/859053.jpg);
}

/* Chane Laforet */
[href*="characters/7092-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/859056.jpg);
}

/* Kyouko Otonashi */
[href*="characters/4745-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/1250224.jpg);
}

/* Aya Tokiwa */
[href*="characters/78361-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/1257246.jpg);
}

/* Misa Hayase */
[href*="characters/3275-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/1257244.jpg);
}

/* Hachiman Hikigaya */
[href*="characters/67065-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/1176145.jpg);
}

/* Ginko */
[href*="characters/425-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.one/system/user_images/original/184680/889652.jpg);
}

/* Kousei Arima */
[href*="characters/69407-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1176108.jpg);
}

/* Kiritsugu Emiya */
[href*="characters/10010-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/859071.jpg);
}

/* Light Yagami */
[href*="characters/80-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/859050.jpg);
}

/* Gintoki Sakata */
[href*="characters/672-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859069.jpg);
}

/* Shirou Emiya */
[href*="characters/496-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/859070.jpg);
}

/* Shiki Toono */
[href*="characters/2212-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859064.jpg);
}

/* Claire Stanfield */
[href*="characters/5756-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859054.jpg);
}

/* Youzou Ooba */
[href*="characters/26802-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1185168.jpg);
}

/* Kiichi Gotou */
[href*="characters/9028-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/1257240.jpg);
}

/* Ergo Proxy */
[href*="animes/z790-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859094.jpg);
}

/* Texhnolyze */
[href*="animes/z26-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859084.jpg);
}

/* Kara no Kyoukai Movie 7: Satsujin Kousatsu (Go) */
[href*="animes/5205-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1744338.jpg);
}

/* Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen */
[href*="animes/z44-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/859086.jpg);
}

/* Innocence */
[href*="animes/468-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/880101.jpg);
}

/* Kidou Keisatsu Patlabor: On Television */
[href*="animes/324-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1088423.jpg);
}

/* Perfect Blue */
[href*="animes/437-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1744333.jpg);
}

/* Yahari Ore no Seishun Love Comedy wa Machigatteiru. Kan */
[href*="animes/39547-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/1797993.jpg);
}

/* Mushishi */
[href*="animes/457-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.one/system/user_images/original/184680/859049.jpg);
}

/* Samurai Champloo */
[href*="animes/205-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/859100.jpg);
}

/* Macross */
[href*="animes/1088-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/880105.jpg);
}

/* Gintama */
[href*="animes/z918-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/881846.jpg);
}

/* xxxHOLiC */
[href*="animes/861-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.one/system/user_images/original/184680/1080961.jpg);
}

/* Hunter x Hunter (2011) */
[href*="animes/z11061-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/859088.jpg);
}

/* Aku no Hana */
[href*="mangas/z24705-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.one/system/user_images/original/184680/1019705.jpg);
}

/* Oyasumi Punpun */
[href*="mangas/4632-"] {
  --show-default: 0;
  --custom-image: url(https://cdn.myanimelist.net/images/manga/3/164420l.jpg);
}
