/* Yukino Yukinoshita */
[href*="characters/67067-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239884.jpg);
}

/* Shizuka Hiratsuka */
[href*="characters/67077-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463848.jpg);
}

/* Iroha Isshiki */
[href*="characters/110743-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239887.jpg);
}

/* Kaori Miyazono */
[href*="characters/69411-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239882.jpg);
}

/* Shouko Nishimiya */
[href*="characters/80243-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239877.jpg);
}

/* Shinobu Oshino */
[href*="characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239856.jpg);
}

/* Kaguya Shinomiya */
[href*="characters/136359-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239879.jpg);
}

/* Kyouko Kirigiri */
[href*="characters/63845-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463846.jpg);
}

/* Beatrice */
[href*="characters/10285-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239860.jpg);
}

/* Arcueid Brunestud */
[href*="characters/2213-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239886.jpg);
}

/* Rin Toosaka */
[href*="characters/498-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239885.jpg);
}

/* Chane Laforet */
[href*="characters/7092-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239896.jpg);
}

/* Kyouko Otonashi */
[href*="characters/4745-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239861.jpg);
}

/* Aya Tokiwa */
[href*="characters/78361-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239881.jpg);
}

/* Misa Hayase */
[href*="characters/3275-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239875.jpg);
}

/* Saber */
[href*="characters/497-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463843.jpg);
}

/* Hitagi Senjougahara */
[href*="characters/22037-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239876.jpg);
}

/* Chizuru Hishiro */
[href*="characters/127643-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463845.jpg);
}

/* Hachiman Hikigaya */
[href*="characters/67065-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239872.jpg);
}

/* Ginko */
[href*="characters/425-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239857.jpg);
}

/* Kousei Arima */
[href*="characters/69407-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239862.jpg);
}

/* Kiritsugu Emiya */
[href*="characters/10010-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463842.jpg);
}

/* Light Yagami */
[href*="characters/80-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239869.jpg);
}

/* Gintoki Sakata */
[href*="characters/672-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239864.jpg);
}

/* Shirou Emiya */
[href*="characters/496-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239859.jpg);
}

/* Shiki Toono */
[href*="characters/2212-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239855.jpg);
}

/* Claire Stanfield */
[href*="characters/5756-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239880.jpg);
}

/* Youzou Ooba */
[href*="characters/26802-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239897.jpg);
}

/* Kiichi Gotou */
[href*="characters/9028-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239874.jpg);
}

/* Emilia */
[href*="characters/118737-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463849.jpg);
}

/* Shigatsu wa Kimi no Uso */
[href*="animes/z23273-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239850.jpg);
}

/* Ergo Proxy */
[href*="animes/z790-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239870.jpg);
}

/* Texhnolyze */
[href*="animes/z26-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239901.jpg);
}

/* Kara no Kyoukai Movie 7: Satsujin Kousatsu (Go) */
[href*="animes/5205-"] {
  --show-default: 0;
  --custom-image: url(https://kawai.shikimori.me/system/user_images/original/184680/2239866.jpg);
}

/* Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen */
[href*="animes/z44-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239867.jpg);
}

/* Innocence */
[href*="animes/468-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463844.jpg);
}

/* Kidou Keisatsu Patlabor: On Television */
[href*="animes/324-"] {
  --show-default: 0;
  --custom-image: url(https://moe.shikimori.me/system/user_images/original/184680/2239902.jpg);
}

/* Perfect Blue */
[href*="animes/437-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239899.jpg);
}

/* Yahari Ore no Seishun Love Comedy wa Machigatteiru. Kan */
[href*="animes/39547-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463850.jpg);
}

/* Mushishi */
[href*="animes/457-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239865.jpg);
}

/* Macross */
[href*="animes/1088-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463847.jpg);
}

/* Gintama */
[href*="animes/z918-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.me/system/user_images/original/184680/2239868.jpg);
}

/* xxxHOLiC */
[href*="animes/861-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239890.jpg);
}

/* Hunter x Hunter (2011) */
[href*="animes/z11061-"] {
  --show-default: 0;
  --custom-image: url(https://nyaa.shikimori.me/system/user_images/original/184680/2239900.jpg);
}

/* Aku no Hana */
[href*="mangas/z24705-"] {
  --show-default: 0;
  --custom-image: url(https://desu.shikimori.one/system/user_images/original/184680/2463841.jpg);
}

/* Oyasumi Punpun */
[href*="mangas/4632-"] {
  --show-default: 0;
  --custom-image: url(https://dere.shikimori.me/system/user_images/original/184680/2239854.jpg);
}
