/* Yukino Yukinoshita */
[href*="characters/67067-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/nhp5Y8J.png);
}

/* Shizuka Hiratsuka */
[href*="characters/67077-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QdUzWSI.png);
}

/* Iroha Isshiki */
[href*="characters/110743-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/YMGq6KV.png);
}

/* Kaori Miyazono */
[href*="characters/69411-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4gLRHvG.png);
}

/* Shouko Nishimiya */
[href*="characters/80243-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dHDkbI0.png);
}

/* Shinobu Oshino */
[href*="characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/caPqu0N.jpg);
}

/* Kaguya Shinomiya */
[href*="characters/136359-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/lXIsdQS.png);
}

/* Kyouko Kirigiri */
[href*="characters/63845-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/GRmxvfs.png);
}

/* Beatrice */
[href*="characters/10285-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/lEO5Wq0.jpg);
}

/* Arcueid Brunestud */
[href*="characters/2213-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/CsG5T6c.png);
}

/* Rin Toosaka */
[href*="characters/498-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/jHsUtP6.png);
}

/* Chane Laforet */
[href*="characters/7092-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/S4v6ZJL.png);
}

/* Kyouko Otonashi */
[href*="characters/4745-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/PaUgTxb.jpg);
}

/* Aya Tokiwa */
[href*="characters/78361-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Vcm3niq.png);
}

/* Misa Hayase */
[href*="characters/3275-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/arKbbLE.png);
}

/* Saber */
[href*="characters/497-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/L7zaRFX.jpg);
}

/* Hitagi Senjougahara */
[href*="characters/22037-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/p1WULyN.jpg);
}

/* Chizuru Hishiro */
[href*="characters/127643-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Erx12nz.jpg);
}

/* Hachiman Hikigaya */
[href*="characters/67065-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/CnReuqu.png);
}

/* Ginko */
[href*="characters/425-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Ydaiaao.jpg);
}

/* Kousei Arima */
[href*="characters/69407-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/B697wJ0.jpg);
}

/* Kiritsugu Emiya */
[href*="characters/10010-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/aVuVBFr.jpg);
}

/* Light Yagami */
[href*="characters/80-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/fp4xM1m.jpg);
}

/* Gintoki Sakata */
[href*="characters/672-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/65WDLZD.jpg);
}

/* Shirou Emiya */
[href*="characters/496-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FIIHfqC.jpg);
}

/* Shiki Toono */
[href*="characters/2212-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/RrOddpI.jpg);
}

/* Claire Stanfield */
[href*="characters/5756-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/if2uA5l.png);
}

/* Youzou Ooba */
[href*="characters/26802-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mteFNNR.png);
}

/* Kiichi Gotou */
[href*="characters/9028-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/a5nYHvZ.png);
}

/* Ergo Proxy */
[href*="animes/z790-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ijEUu64.jpg);
}

/* Texhnolyze */
[href*="animes/z26-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/XP6vWtL.jpg);
}

/* Kara no Kyoukai Movie 7: Satsujin Kousatsu (Go) */
[href*="animes/5205-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dfe43kt.jpg);
}

/* Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen */
[href*="animes/z44-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0AjLpip.jpg);
}

/* Innocence */
[href*="animes/468-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/IQpNmuB.jpg);
}

/* Kidou Keisatsu Patlabor: On Television */
[href*="animes/324-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/hHhIxbe.jpg);
}

/* Perfect Blue */
[href*="animes/437-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/K2nHZfy.png);
}

/* Yahari Ore no Seishun Love Comedy wa Machigatteiru. Kan */
[href*="animes/39547-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zW1kebv.png);
}

/* Mushishi */
[href*="animes/457-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/604nNbv.jpg);
}

/* Macross */
[href*="animes/1088-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zDmbo3x.jpg);
}

/* Gintama */
[href*="animes/z918-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/E1vjwnK.jpg);
}

/* xxxHOLiC */
[href*="animes/861-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/LC999F7.jpg);
}

/* Hunter x Hunter (2011) */
[href*="animes/z11061-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TtowBJD.jpg);
}

/* Aku no Hana */
[href*="mangas/z24705-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7jGpNlY.jpg);
}

/* Oyasumi Punpun */
[href*="mangas/4632-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/70QMbmc.jpg);
}
